<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tool Review{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <div id="title_header">
                <img src="{{ asset('img/TR-logo.png') }}" alt="banner" style="width:250px;"/>
            </div>
        </header>
        
        <div id="wrapIndex">
            <a href="{{ path('tr_platform_admin_update_database') }}"><button>Mettre à jour la base de données</button></a>
        </div>
        
        <footer>       
            <h6>Tool Review &copy; All Right Reserved.</h6>
        </footer>        
    </body>
</html>
