#word {
	font-family:'OSCLight',Arial;
	font-size:40px;
	color: #17207F;
	text-transform: uppercase;
	text-decoration:none;	
	font-weight: bold;	
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}

#answer {
	margin-top: 10px;
	height: 40px;
	font-size:18px;
}

#wrapIndex {
	height: 780px;
}