/*BANNER*/
p {
	font-family:'OSCLight',Arial;
	font-size:30px;
	color: #BB0119;
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
}

#wrapIndex {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 780px;
}