/*TABLEAU*/
table {
	border-collapse: collapse;
	width: 760px;
}

th {
	font-family:'OSCLight',Arial;
	font-size:16px;
	color:#17207F;
	text-transform: uppercase;
	border:1px solid #17207F;
	background-color:#ffffff; 
}

td {
	font-family:'OSCLight',Arial;
	font-size:14px;
	color:#17207F;
	text-transform: uppercase;
	border:1px solid #17207F;
	background-color:#ffffff; 
	text-align: center;
}

section {
	width: 760px;
	margin:auto;
	padding:20px;
	position:relative;
	padding-top:2px;
	margin-bottom:15px;
}

#date_filters {
	margin-top: 30px;
	margin-bottom: 30px;
}

#date_filters #form_date1, #date_filters #form_date2 {
	width: 110px;
	height: 30px;
}

input {
	background-color: #F7F7F7; 
	border:none;
	width: 100%;	
	text-align: center;
}

button {
	font-family:'OSCLight',Arial;
	font-size:20px;
	text-transform: uppercase;
	background-color: #ffffff;
	border:#BB0119 1px solid;
	margin-top: 20px;
	color:#BB0119;
}

button:hover {
	background-color: #BB0119;
	color: #ffffff;
	cursor: pointer;
}

#date_filters button {
	margin-top: 0;
	font-size: medium;
}

.is_day_updated {
	color: #fff !important;
	background: #17207F !important;
}

#no_words {
	background: #ffffff;
	font-family:'OSCLight',Arial;
	font-size:16px;
	color:#BB0119;
	text-transform: uppercase;
	padding:5px;
	margin-top:10px;
	margin-bottom:20px;
}